extends layout

block content
    .row.banner
        .col-12
            h1(style="margin-top:50px")=title
    .row
        .col-12.col-lg-8
            p
                |   This is a Book Store where you find books of various genre from all around the world.